@import '~bootstrap/scss/bootstrap';

body{
    background-color: black;
}
.active_li {
    color: orange;
    font-weight: bold;
}
//HOME
#home_main {
    color: white;

    a {
        color: orange;
        text-decoration: none;
        font-size: 3rem;
    }
    .scroll-wrap {
        height: 300px ;
        position: relative;
        overflow: hidden;

        h2 {
            font-size: 4rem;
            text-transform: uppercase;
            position: absolute;
            top: 2rem;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        h3 {
            font-size: 3rem;
            position: absolute;
            top: 7rem;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        h4 {
            font-size: 5rem;
            position: absolute;
            top: 12rem;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

//INDEX
#proj_list {
    .col-12 {
        border-bottom: 2px solid white;
        padding-bottom: 1rem;
    }
    h4 {
        color: white;
        margin-bottom: 0;
    }
    span {
        color:orange;
    }
    button {
        border: 2px solid white;
        padding: 0.3rem 1.6rem;
        border-radius: 15px;
        background-color: black;
        transition: all 0.3s ;
        a {
            text-decoration: none;
            display: block;
            color: white;
            transition: all 0.3s;
            &:hover {
                color: orange;
            }
        }
        &:hover {
            border-color:  orange;
        }
    }
}

#proj_page {
    div.col-8 {
        border-left: 1px solid white;
    }
    h2 {
        color: white;
        margin-bottom: 2rem;
        font-size: 3rem;
    }
    p {
        color: white;
        font-size: 1.4rem;
        span {
            color: orange;
        }
    }
    .gh_link {
        text-decoration: none;
        color: orange;
        font-size: 1rem;

        &:hover {
            text-decoration: underline;
        }
    }
    .btn_section {

        button {
            background-color: black;
            border: 2px solid white;
            padding: 0.3rem 1.6rem;
            border-radius: 15px;
            color: white;
            a {
                text-decoration: none;
                color: white;
            }
        }
    }

}
// CREATE
#create_form {
    form {
        display: flex;
        flex-direction: column;
        color: white;
        gap: 1rem;

        .form_btn {
            width: 100px;
            display: block;
            margin: auto;
            margin-top: 2rem;
            background-color: black;
            color: white;
            border: 2px solid white;
            border-radius: 15px;
            padding: 0.3rem 1.6rem;
            transition: all 0.3s;
            &:hover{
                color: orange;
                border-color: orange;
            }
        }
    }
}


// GUEST INDEX {
    #guest_index {
        h1 {
            color: orange;
        }
        .img-wrap{
            height: 155px ;
            overflow: hidden;
        }
        .card-text {
            height: 140px;
        }
        .list-group-item {
            color: orange;
        }
        .list-group {
            height: 150px;
            overflow-y: auto;
        }
    }


